body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: dodgerblue;
}

.main {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #343a40;
  margin: auto;
  text-align: center;
}
