.auth-container {
    display: flex;
    min-height: 50%;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
}

.auth-container p {
    width: 48%;
    margin:0 auto;
}

.auth-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 20%;
    min-height: 50%;
    max-height: fit-content;
    margin: auto;
}

.auth-card-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.auth-card input, .auth-card button {
    height: 3rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    border:2px solid lightgrey;
    border-radius: 5px;
    margin: 1rem 0;
}


.auth-card input:focus {
    outline:none;
    border: 2px #006cff solid;
}

.auth-card button {
    background-color: #006cff;
    border: 2px #006cff solid;
    color:white;
}

.auth-card label {
    font-weight: bold;
    color:darkslategrey;
    font-size: 1rem;
    text-align: left;
}

.auth-card button, .profile-card button {
   height: auto;
   font-size: 1.2rem;
   cursor:pointer!important;
   margin-bottom: 3rem;
   background-color: #006cff;
   border: 2px #006cff solid;
   border-radius: 5px;
}

.auth-card button:hover, .profile-card button:hover, .main-button:hover {
    background-color:#005bdb;
    border: 2px #005bdb solid!important;
 }
 
.auth-card h1 {
    margin:1rem auto;
    margin-bottom: 0.3rem;
    padding-bottom:0.6rem;
    font-weight: 800;
    font-size: 2.5rem;
    border-bottom: 8px solid #006cff;
    width: fit-content;
}

.auth-card span {
    display: block;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    color:darkslategrey;
}

.main-button {
    margin:auto 3rem;
    font-size: 2rem;
    font-weight: 400;
    cursor:pointer;
    background-color: #006cff;
    border: 2px #006cff solid;
    border-radius: 10px;
    padding:1rem 2rem;
    color:white;
    text-decoration: none;
}

.logout {
    margin: 0 auto;
    color:white;
    font-size: 1.2rem;
    padding: 1rem;
}

.error-message {
    background-color: #fc747433;
    color:#d44545;
    border-radius: 10px;
    padding: 1rem;
  }
  
.error-message strong {
    font-weight: 800;
}

.error-message p {
    font-size: 1.1rem!important;
    font-weight: 400!important;
    color:#d44545!important;
    width:100%!important
  }

.main-text strong {
    font-weight: 900;
}

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  